OpenWGA/libraries/wgapi/src/main/java/de/innovationgate/webgate/api/auth/users.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Oliver Weise (Innovation Gate GmbH) -->
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT group EMPTY>
<!ATTLIST group
	name CDATA #REQUIRED
	members CDATA #REQUIRED
>
<!ELEMENT user EMPTY>
<!ATTLIST user
	name CDATA #REQUIRED
	password CDATA #REQUIRED
	mail CDATA #REQUIRED
	aliases CDATA #REQUIRED
>
<!ELEMENT users (user, group)>
<!ATTLIST users
	allowanonymous CDATA #REQUIRED
>
